<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
  <title>GoFoodie Details </title>

</head>
<body>
<div layout:fragment="content" class="row">
  <!--First section-->
  <div class="container">
    <img src="../static/images/foodtruck.jpg" alt="GoFoodie" width="500" height="300">
  </div>

  <div class="col-xs-8 col-md-8">

    <h2> Food Truck Detail</h2>
    <div class="table-responsive">
      <table class="table" id="foodtruck-table">
        <thead>
        <tr>
          <th><B>Name  </B>
          <td th:text="${showFoodTruckDetails.foodTruck.name}"></td>

        <th><B>Waiting time </B>
        <td th:text="${showFoodTruckDetails.waitingTime}"></td>
        </th>
        <th><B>Distance </B>
        <td th:text="${showFoodTruckDetails.distance}"></td>
        </th>
        </tr>
        </thead>


        <tbody>
        <tr>
          <th><B>Address</B></th>
          <td th:text="${location}"></td>
        </tr>

        <tr>
          <th><B>Hours</B></th>
          <td th:text="${showFoodTruckDetails.hours}"></td>
        </tr>

        <tr>
          <th><B>Phone</B></th>
          <td th:text="${showFoodTruckDetails.phoneNumbers}"></td>
        </tr>

        <tr>
          <th><B>Reviews from the web</B></th>
          <td th:text="${reviews}"></td>
        </tr>


        </tbody>
      </table>


    </div>
    <div class="row">
      <div class="column" style="background-color: #3f649e">
        <h2>Today's  Special Menu</h2>
        <tr><td th:text="${item1}"></td></tr>
        <tr><td th:text="${item2}"></td></tr>
        <tr><td th:text="${item3}"></td></tr>
        <tr><td th:text="${item4}"></td></tr>
        <tr><td th:text="${item5}"></td></tr>
      </div>
      <div class="column" style="background-color:#672788;">
        <h2>Offers</h2>
        <tr><td th:text="${offer1}" th:width="500"></td></tr>
        <tr><td th:text="${offer2}" th:width="500"></td></tr>
      </div>
    </div>
  </div>
</div>
</body>
</html>