<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
  <title>GoFoodie Details </title>

</head>
<body>
<div layout:fragment="content" class="row">
  <div class="col-xs-8 col-md-8">
    <img src="images/foodtruck.jpg" alt="FoodTruck" >
    <h2> Food Truck Detail</h2>
    <div class="table-responsive">
      <table class="table" id="foodtruck-table">
        <thead>
        <tr>
          <th><B>Name  </B>
          <td th:text="${showFoodTruckDetails.foodTruck.name}"></td>

        <th><B>Waiting time </B>
        <td th:text="${showFoodTruckDetails.waitingTime}"></td>
        </th>
        <th><B>Distance </B>
        <td th:text="${showFoodTruckDetails.distance}"></td>
        </th>
        </tr>
        </thead>


        <tbody>
        <tr>
          <th><B>Address</B></th>
          <td th:text="${location}"></td>
        </tr>

        <tr>
          <th><B>Hours</B></th>
          <td th:text="${showFoodTruckDetails.hours}"></td>
        </tr>

        <tr>
          <th><B>Phone</B></th>
          <td th:text="${showFoodTruckDetails.phoneNumbers}"></td>
        </tr>

        <tr>
          <th><B>Reviews from the web</B></th>
          <td th:text="${reviews}"></td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>