<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
  <title>GoFoodie Details </title>
</head>
<body>
<div layout:fragment="content" class="row">
  <div class="col-xs-8 col-md-8">

    <h2> Food Truck Detail</h2>
    <div class="table-responsive">
      <table class="table" id="foodtruck-table">
        <thead>
        <tr>
          <th><B>Paratha Junction</B></th>
          <th><B>Waiting time </B> 30 mins</B></th>
          <th><B>Distance </B>0.6 miles </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th><B>Address</B></th>
          <th>: Landess Ave, Milpitas CA 95035</th>
        </tr>

        <tr>
          <th><B>Hours</B></th>
          <th>: Open 11 AM</th>
        </tr>

        <tr>
          <th><B>Phone</B></th>
          <th>: (111) 222 3333 </th>
        </tr>

        <tr>
          <th><B>Reviews from the web</B></th>
          <th>: Grubhub (4/5) Uber Eats(3/5)</th>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>